{% extends 'base.html.twig' %}

{% block body %}

	{% if app.user %}

		<div class="card">
			<div class="card-body">
				Bonjour
				{{app.user.firstName}}
			</div>
		</div>

	{% endif %}

{% endblock %}
