{% extends 'base.html.twig' %}

{% block body %}

	{% if app.user %}

		<div class="card">
			<div class="card-body">
				Bonjour
				{{app.user.firstName}}
			</div>
		</div>
	{% endif %}

 {% else %}
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
